<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.dao.CourseMapper">
    <resultMap id="courseMap" type="Course">
        <id property="id" column="id"/>
        <result property="courseName" column="course_name"/>
    </resultMap>
    <select id="queryCourse" resultMap="courseMap">
        select * from course order by id DESC
    </select>



</mapper>